/* css styles */

.roundedimg {
    border-radius: 80%;
  }

.centered {
    text-align: center !important;
    fig-align: center !important;
}

.logo {
  position: absolute;
  left: 59px; /* Adjust the left position as needed */
}