<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4X697QFCB5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4X697QFCB5');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/images/brainfavicon.png">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="index.html"><p class="center-nav"><img src="/images/MARCH2024.png" width="150"></p></a>
        <p class="center-nav"><a href="https://twitter.com/jwilldecker"><img src="/images/twitter.png" height="25" width="25" style="vertical-align: middle;">@jwilldecker</a></p>
        <p class="center-nav"><a href="https://github.com/w-decker"><img src="/images/githubicon.png" height="20" width="20" style="vertical-align: middle;">@w-decker</a></p>
        <p class="center-nav"><a href="mailto:deckerwill7@gmail.com"><img src="/images/emaillogo.png" height="20" width="20" style="vertical-align: middle;">Contact</a></p>
        <br>
        <a href="about.html"><h2 class="center-nav">About Me</h2></a>
        <a href="/images/CV.pdf"><h2 class="center-nav">CV</h2></a>
        <a href="resources.html"><h2 class="center-nav">Resources</h2></a>
        <a href="blog.html"><h2 class="center-nav">Blog</h2></a>
        
        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
